<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.4.1/gridlex.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:500|Roboto|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <script src="https://use.fontawesome.com/ec164d75e8.js"></script>
    <title>Globex - {{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <meta charset="UTF-8" />
    <meta name="description" content="#" />
    <meta name="keywords" content="#" />
    <meta name="author" content="Waldemar Komorowski" />
  </head>

  <body>
    <div id="wrapper">
<!-- HEADER -->

      <header>
        <div id="header">
          <div class="grid-spaceAround">
            <!-- logo -->
            <div class="col-2_sm-0_xs-0">
              <a href="index.html">
                <img id="logo" src="images/logo.png" alt="Logo" />
              </a>
              <h1>AUTORYZOWANY DYSTRYBUTOR FIRMY PANASONIC</h1>
            </div>
            <!-- normal -->
            <nav class="col-9_sm-0_xs-0 align-right">
              <ul>
                <li><a href="ofirmie.html">O firmie...</a></li>
                <li><div class="dropdown">
                  <button class="dropbtn">Cenniki</button>
                  <div class="dropdown-content">
                    <a href="pdfs/cennikhurtowy.pdf">Cennik Hurtowy</a>
                    <a href="pdfs/cennikdetaliczny.pdf">Cennik Detaliczny</a>
                  </div></div></li>
                <li><a href="centraleplatan.html">Centrale Platan</a></li>
                <li><a href="kontakt.html">Kontakt</a></li>
            </ul>
            </nav>
            </div>
        </div>
      </header>



  {{ content }}


  <!-- FOOTER -->


    <footer>
      <div id="footer">
        <div>
          <h2>UL. OKRZEI 34</h2>
          <h2>03-710 WARSZAWA</h2>
          <h2>+48 22 618 43 00</h2>
          <h2>GLOBEX@GLOBEX.PL</h2>
        </div>

        <div class="grid">
          <div class="col-6">
            <h5>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017 Globex</h5>
          </div>
          <div class="col-6">
            <h5>Developed by <a href="#">Kasia Komorowska</a></h5>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>


</html>
